In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_inds = pd.read_csv("AAU9UOzK.csv")
cur_inds = pd.read_csv("../../../synthetic_data_DA_add/inds.csv")
cur_inds.head()

,PPSORT,CMA,AGE,SEX,RACE,KOL,WORKLANG
0,359002,933,a20_24,f,eo_oseo,official_lang,work.official_lang
1,718549,933,a20_24,m,ao_osao,official_lang,work.official_lang
2,556933,933,a45_49,f,ao_osao,official_lang,work.official_lang
3,155043,933,a80_84,f,eo_weo_German,official_lang,work.no.official_lang
4,125653,933,a70_74,m,ao_sao_ei,official_lang,work.official_lang

In [6]:
raw_inds['mob1'].head()

0    1
1    1
2    1
3    8
4    1
Name: mob1, dtype: int64

In [8]:
mar_status = []
dwelling = []
mobility = []
for index, row in raw_inds.iterrows():
    if row['ppsort'] in cur_inds['PPSORT'].to_list():
        if row['marsth']==6:
            mar_status.append('widowed')
        elif row['marsth']==2:
            mar_status.append('married')
        elif row['marsth']==3:
            mar_status.append('living.common.law')
        elif row['marsth']==4:
            mar_status.append('separated')
        elif row['marsth']==5:
            mar_status.append('divorced')
        else:
            mar_status.append('no.married')
        if row['dtype'] == 1:
            dwelling.append('single.detached.house')
        elif row['dtype'] == 2:
            dwelling.append('apartment')
        else:
            dwelling.append('other.attached')
        if row['mob1'] == 1:
            mobility.append('non.movers')
        elif row['mob1'] == 2:
            mobility.append('nonmigrants.movers')
        elif row['mob1'] == 5:
            mobility.append('interprovincial.movers')
        elif row['mob1'] == 6:
            mobility.append('external.movers')
        else:
            mobility.append('other.movers')
mar_status = pd.Series(mar_status)
dwelling = pd.Series(dwelling)
mobility = pd.Series(mobility)
cur_inds['MARST'] = mar_status
cur_inds['DWEL'] = dwelling
cur_inds['MOBL'] = mobility

In [9]:
cur_inds

,PPSORT,CMA,AGE,SEX,RACE,KOL,WORKLANG,MARST,DWEL,MOBL
0,359002,933,a20_24,f,eo_oseo,official_lang,work.official_lang,no.married,single.detached.house,non.movers
1,718549,933,a20_24,m,ao_osao,official_lang,work.official_lang,no.married,apartment,non.movers
2,556933,933,a45_49,f,ao_osao,official_lang,work.official_lang,married,apartment,non.movers
3,155043,933,a80_84,f,eo_weo_German,official_lang,work.no.official_lang,widowed,other.attached,non.movers
4,125653,933,a70_74,m,ao_sao_ei,official_lang,work.official_lang,married,single.detached.house,non.movers
...,...,...,...,...,...,...,...,...,...,...
39017,831858,933,a10_14,m,ao_esao_Filipino,official_lang,work.no.official_lang,no.married,apartment,non.movers
39018,838216,933,a60_64,f,ao_oesao,official_lang,work.no.official_lang,married,single.detached.house,non.movers
39019,430191,933,a65_69,m,ao_oesao,official_lang,work.no.official_lang,married,other.attached,non.movers
39020,920645,933,a60_64,f,ao_oesao,official_lang,work.official_lang,married,other.attached,non.movers
39021,818864,933,a25_29,m,eo_oeeo,official_lang,work.official_lang,no.married,apartment,non.movers

In [10]:
cur_inds.to_csv("../../../synthetic_data_DA_add/inds.csv", index=False)